<p>Hello <%= @owner.first_name %>!</p>
<p>Your post, <%= @post.title %>, has a new vote!</p>
<p><%= @post.title %> has <%= pluralize(@total_votes, "vote") %> so far.</p>
<p>Regards,</p>
<p>The Blog Team</p>
