<h1>Comments Index</h1>
<hr>
<% @ratedComments.each_key do |keyRating| %>
  <div class="well">
    <h3><%= keyRating %> Stars</h3>
    <% @ratedComments[keyRating].each do |comment| %>
      <h4><%= link_to "#{comment.title}", comment_path(comment) %></h4>
      <p><%= comment.body.truncate(20) %></p>
    <% end %>
  </div>
<% end %>
