<p>Hello <%= @owner.first_name %>,</p>
<p>Your post, <%= @post.title %>, has received a new favorite!</p>
<p>This post has <%= pluralize(@total_favorites, "favorite") %> so far! </p>
<p>Regards,</p>
<p>The Blog Team</p>
