<p>Hello <%= @owner.first_name %>,</p>
<p>You've received a new comment on your post <%= @post.title %>!</p>
<p>Click <%= link_to "here", post_path(@post)%> to see the comment.</p>
<p>Regards,</p>
<p>The Blog Team</p>
