<p>Hello <%= @owner.first_name %>,</p>
<p>You've received a new comment on your post <%= @post.title %>!</p>
<p>The comment is: <%= @comment.body %>.</p>
<p>Would you like to reply? </p>
<p>Regards,</p>
<p>The Blog Team</p>
