<p>Hello <%= @owner.first_name %>, </p>
<p>Your comment, <%= @comment.title %>, has a new like!</p>
<p>That's a total of <%= pluralize(@total_likes, "like") %>!</p>
<p>Regards,</p>
<p>The Blog Team</p>
