<h1>All your blog posts</h1>
  <%= @message %>
  <% @p.each do |p|%>
    <div>
      <h5><%= link_to p.title, post_path(p) %></h5>
      <p><%= p.body.truncate(25) %></p>
    </div>
  <% end %>
<%= paginate @p %>
